.contenedor-respuesta{
    position: absolute;
    width: 30%;
    height: 20em;
    left: 35%;
    top:5em;
    border: 1px solid orange;
    padding: 1em;
    border-radius: 2em;
    text-align: center;
}
.result{
    padding-top: 1em;
    background-color: orange;
    width: 30%;
    height: 2em;
    margin: auto;
    border-radius: 1em;
    color: azure;
}
.menu{
    list-style-type: none;
    padding: 0%;
}